.banner{
  padding-block: 2.5rem; 
  overflow: hidden;
  .roller{
    width: 100%;
    padding-block: 1rem; 
    display: flex;
    gap: 1.5rem;
    animation: gradient 20s ease infinite;
    background: linear-gradient(
      45deg,
      var(--snitap-sky-light),
      var(--snitap-joy-light)
    );
    background-size: 400%;
    background-position: 0 50%;
    & > img{
      animation: rolling 2s linear infinite;
    }

  }
}

@keyframes rolling{
  to{
    transform: translateX(-132px);
  }
}

@keyframes gradient{
  50% {
    background-position: 100% 50%;
  }
}
